body {
	margin: 0;
	padding: 0;
}

#main {
	height: 100dvh;
	display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1fr 1.5rem;
  gap: 0 0;
  grid-template-areas:
    "."
    "."
    ".";
}
